Django==4.2.9
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
python-dotenv==1.0.1
Pillow
django-filter==23.5
requests
reportlab
psycopg2-binary==2.9.11
dj-database-url==3.1.2
google-genai
sentry-sdk==2.0.0
gunicorn==21.2.0
whitenoise==6.6.0

pytest==8.0.0
pytest-django==4.8.0
model_bakery==1.17.0
pytest-cov==4.1.0
